body {
    margin: 0;
}
body p {
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    height: 10vh;
    padding-inline: 10%;
}
nav img {
    height: 10vh;
}
#navicons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
#navicons img {
    height: 3vh;
}
#resumemembership {
    border: solid rgba(0, 0, 0, 0.616) 1px;
    border-radius: 25px;
    max-height: 6vh;
    width: 35vh;
}
#resumemembership p {
    margin: 0;
    padding-left: 5%;
    padding-block: 5%;
}
#user {
    background-color: orange;
    border-radius: 50%;
    width: 50px;
    height: 36px;
    position: relative;
}
#user p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    margin: 0;
}
#container {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, 
    rgba(255,255,255,1) 98%, rgba(0,0,0,0.616) 100%);
    background: -webkit-linear-gradient(0deg, 
    rgba(255,255,255,1) 98%, rgba(0,0,0,0.616) 100%);
    background: linear-gradient(0deg, 
    rgba(255,255,255,1) 98%, rgba(0,0,0,0.616) 100%);
    display: flex;
    flex-wrap: nowrap;
}
#news {
    width: 70%;
    padding-left: 10%;
    padding-right: 5%;
    display: flex;
    position: sticky;
}
#topics {
    width: 100%;
    height: 100px;
    border-bottom: solid rgba(0, 0, 0, 0.616) 1px;
    display: flex;
    align-items: flex-end;
    gap: 5%;
    padding-top: 5%;
}
#topics p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#unselected {
    padding-bottom: 2%;
}
#selected {
    padding-bottom: 2%;
    border-bottom: solid 2px rgba(0, 0, 0, 1.2);
    font-weight: bold;
}
#info {
    width: 30%;
    border-left: solid rgba(0, 0, 0, 0.616) 1px;
    padding-left: 5%;
    padding-right: 10%;
}
.twitter {
    width: 100%;
    padding-top: 10%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logos {
    display: flex;
    align-items: center;
    gap: 2%;
}
.logos img {
    height: 5vh;
}
#smallimg {
    height: 2vh;
}
.twitter p {
    padding-inline: 15%;
    padding-block: 5%;
    text-align: center;
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#twitterconnect {
    border: solid rgba(0, 0, 0, 0.616) 1px;
    border-radius: 25px;
    max-height: 6vh;
    width: 35vh;
    padding-left: 10%;
    position: relative;
}
#twitterconnect p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#underline {
    text-decoration: underline;
    color: gray;
    width: 200px;
    padding-bottom: 5%;
}
.rectopics {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
h2 {
    margin: 0;
    padding-block: 5%;
}
.topicblock {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.topicblock div {
    margin: 5px;
    background-color: rgb(212, 205, 205);
    border-radius: 25px;
    height: 3vh;
    width: 7vh;
    padding-left: 10%;
    position: relative;
}
.topicblock p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.whotofollow {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.experts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    gap: 20px;
}
.experts img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.experts1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    gap: 20px;
}
.experts2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2%;
}
.followblock {
    border: solid rgba(0, 0, 0, 0.616) 1px;
    border-radius: 25px;
    height: 3vh;
    min-width: 7vh;
    padding-left: 10%;
    position: relative;
    padding: 0;
}
.followblock p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    margin: 0;
}
.recsaved {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.recsaved p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}
.recsaved img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.savedarticle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 5%;
}
.savedarticlesartist {
    display: flex;
    gap: 40px;
}
.datereadtime {
    color: grey;
}
.seeall p{
    margin-block: 5%;
    color: green;
}
.misc {
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.misc p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(141, 135, 135);
}